xai-sdk
numba
fastapi
uvicorn
openai
fastmcp
pandas
yfinance
pandas_ta
python-telegram-bot
python-dotenv
pytz
APScheduler
langgraph
langchain
langchain-openai
matplotlib
plotly
dhanhq
sqlite
